﻿﻿﻿﻿<div class="newRow">
    <b>List of workers</b>

</div>
<div class="navbar  navbar-inverse" id="nav">
    <div class="container">
        <div class="navbar-header">
            <div class="form-group">
                <div class="row">
                    <input type="text" class="headerSearchButton form-control" ng-model="searchWord"
                           placeholder="Search">

                    <button type="button" class="headerButton btn btn-raised btn-primary addButton"
                            ng-click="openAdd()">Add worker
                    </button>
                    <a href="#/login">
                        <button type="button" class="btn btn-raised btn-primary addButton" ng-click="logout()">Logout
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<!--List of workers-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">

                <table class="table  table-striped" id="example" class="table table-striped table-bordered">

                    <thead>
                    <tr class="firstRow">
                        <th class="globalText">Username</th>
                        <th class="globalText">Role</th>
                        <th class="globalText">Control panel</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="globalText" ng-repeat="worker in workers | filter: searchWord">

                        <td>{{worker.username}}</td>
                        <td>{{worker.role}}</td>
                        <td>
                            <button type="button" class="btn btn-raised buttons btn-primary"
                                    ng-click="openEdit(worker);">login credentials
                            </button>
                            <button type="button" class="btn btn-raised buttons btn-primary"
                                    ng-click="openInfo(worker)">personal info
                            </button>
                            <button type="button" class="btn btn-raised buttons btn-primary"
                                    ng-click="openTime(worker.info)">time management
                            </button>
                            <a class="btn btn-raised btn-primary" ng-click="delete(worker)">Del</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
                <!--Pagination-->
                <div class="row">

                    <div class="col-md-6">
                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            ng-change="pageChanged()"></ul>
                    </div>

                    <!--Setting items per page-->
                    <div class="col-md-6 ">
                        <div class="setItems">
                            Show <select ng-init="viewby = '3'" ng-model="viewby" ng-change="setItemsPerPage(viewby)">
                            <option>3</option>
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>40</option>
                            <option>50</option>
                        </select>
                            records at a time.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--ANGULAR EDIT PERSONAL INFO MODAL WINDOW-->
    <script type="text/ng-template" id="editInfoContent.html">
        <!--<div class="modal-header">-->
        <h3 class="modal-title globalText modalText" id="editInfo-title">update worker`s information</h3>
        </div>
        <div class="modal-body" id="editInfo-body">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" id="editangform" novalidate>
                                <fieldset>

                                    <form name="userForm">
                                        <div class="form-group"
                                             ng-class="{ 'has-error': !info.name, 'has-success': info.name  }">
                                            <label for="angEditInput1" class="col-md-2 control-label">Name</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="angEditInput1"
                                                       ng-model="info.name" placeholder="Name" required>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="form-group"
                                         ng-class="{ 'has-error': !info.patronymic, 'has-success': info.patronymic  }">
                                        <label for="angEditInput2" class="col-md-2 control-label">Patronymic</label>

                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="angEditInput2"
                                                   ng-model="info.patronymic" placeholder="Patronymic" required>
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         ng-class="{ 'has-error': !info.surname, 'has-success': info.surname  }">
                                        <label for="angEditInput3" class="col-md-2 control-label">Surname</label>

                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="angEditInput3"
                                                   ng-model="info.surname" placeholder="Surname" required>
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         ng-class="{ 'has-error': !info.post, 'has-success': info.post  }">
                                        <label for="angEditInput4" class="col-md-2 control-label">Post</label>

                                        <div class="col-md-10">
                                            <select id="angEditInput4" ng-init="info.post='Programmer'"
                                                    ng-model="info.post" class="form-control">
                                                <option>Programmer</option>
                                                <option>Designer</option>
                                                <option>Manager</option>
                                                <option>Staff</option>
                                                <option>Student</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         ng-class="{ 'has-error': !info.gender, 'has-success': info.gender  }">

                                        <label class="col-md-2 control-label">Gender</label>

                                        <div class="col-md-5 modalInput">
                                            <input type="radio" name="answer" value="female" ng-model="info.gender"/>Female
                                        </div>

                                        <div class="col-md-5 modalInput">
                                            <input type="radio" name="answer" value="male" ng-model="info.gender"/>Male
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         ng-class="{ 'has-error': !info.phone, 'has-success': info.phone  }">
                                        <label class="col-md-2 control-label">Phone number</label>

                                        <div class="col-md-10">

                                            <input class="modalInput" type="text" ui-mask="+3(099) 999-99-99"
                                                   ng-model="info.phone" model-view-value="true">
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">

            <button class="btn btn-primary" type="button" ng-click="ok(); saveInfo()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <!--EDIT CREDENTIALS MODAL WINDOW-->
    <script type="text/ng-template" id="editContent.html">

        <div class="modal-header">
            <h3 class="modal-title globalText modalText" id="editmodal-title">update users` login credentials</h3>
        </div>
        <div class="modal-body" id="editmodal-body">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" novalidate>
                                <fieldset>

                                    <form name="userForm">
                                        <div class="form-group"
                                             ng-class="{ 'has-error': !worker.username, 'has-success': worker.username  }">
                                            <label class="col-md-2 control-label">Username</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control"
                                                       ng-model="worker.username" placeholder="Username" required>
                                            </div>
                                        </div>

                                        <div class="form-group"
                                             ng-class="{ 'has-error': !worker.password, 'has-success': worker.password  }">
                                            <label class="col-md-2 control-label">Password</label>

                                            <div class="col-md-10">
                                                <input type="password" class="form-control"
                                                       ng-model="worker.password" placeholder="Password" required>
                                            </div>
                                        </div>
                                        <div class="form-group"
                                             ng-class="{ 'has-error': !worker.role, 'has-success': worker.role  }">
                                            <label class="col-md-2 control-label">Role</label>

                                            <div class="col-md-10">
                                                <select
                                                        ng-model="worker.role" class="form-control">
                                                    <option>Администратор</option>
                                                    <option>Руководитель</option>
                                                    <option>Пользователь</option>

                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">

            <button class="btn btn-primary" type="button" ng-click="$editCtrl.ok(); saveUser()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$editCtrl.cancel()">Cancel</button>

        </div>
    </script>

    <!--Angular add modal window-->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title globalText modalText" id="modal-title ">add worker</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="panel panel-success">
                <div class="panel-body">
                    <fieldset class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" id="angform" novalidate>
                                <fieldset>
                                    <div class="form-group"
                                         ng-class="{ 'has-error': !worker.username, 'has-success': worker.username  }">
                                        <label class="col-md-2 control-label">Username</label>

                                        <div class="col-md-10">
                                            <input type="text" class="form-control"
                                                   ng-model="worker.username" placeholder="Username" required>
                                        </div>
                                    </div>
                                    <div class="form-group"
                                         ng-class="{ 'has-error': !worker.password, 'has-success': worker.password  }">
                                        <label class="col-md-2 control-label">Password</label>

                                        <div class="col-md-10">
                                            <input type="password" class="form-control"
                                                   ng-model="worker.password" placeholder="Password" required>
                                        </div>
                                    </div>
                                    <div class="form-group"
                                         ng-class="{ 'has-error': !worker.role, 'has-success': worker.role  }">
                                        <label for="angEditInput4" class="col-md-2 control-label">Role</label>

                                        <div class="col-md-10">
                                            <select ng-init="worker.role='Пользователь'"
                                                    ng-model="worker.role" class="form-control">
                                                <option>Администратор</option>
                                                <option>Руководитель</option>
                                                <option>Пользователь</option>
                                            </select>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="modal-footer">

            <button class="btn btn-primary" type="button" ng-click="$addCtrl.ok(); addWorker()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$addCtrl.cancel()">Cancel</button>

        </div>
    </script>

    <!--Angular time edit modal window-->
    <script type="text/ng-template" id="editTime.html">
        <div class="modal-header">
            <h3 class="modal-title globalText modalText">time management</h3>
        </div>
        <div class="modal-body">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" novalidate>
                                <fieldset>

                                    <div class="col-md-6">
                                        <div class="form-group"
                                             ng-class="{ 'has-error': !time.startWork, 'has-success': time.startWork}">

                                            <label class="col-md-4 control-label">Start of workday</label>

                                            <div class="col-md-8">

                                                <input type="text" class="form-control" size="8"
                                                       ng-model="time.startWork" bs-timepicker
                                                       data-time-format="HH:mm" data-time-type="string"
                                                       data-length="1"
                                                       data-minute-step="1" data-arrow-behavior="picker">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group"
                                             ng-class="{ 'has-error': !time.endWork, 'has-success': time.endWork}">

                                            <label class="col-md-4 control-label">End of workday</label>

                                            <div class="col-md-8 modalInput">

                                                <input type="text" class="form-control" size="8"
                                                       ng-model="time.endWork"
                                                       bs-timepicker
                                                       data-time-format="HH:mm" data-time-type="string"
                                                       data-length="1"
                                                       data-minute-step="15" data-arrow-behavior="picker">
                                            </div>
                                        </div>

                                    </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">

            <button class="btn btn-primary" type="button" ng-click="ok(); saveTime()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>

        </div>
    </script>

</div>