﻿<div class="newRow">
    <b>List of workers</b>

</div>
<div class="navbar  navbar-inverse" id="nav">
    <div class="container">
        <div class="navbar-header">
            <div class="form-group">
                <div class="row">
                    <input type="text" class="headerSearchButton form-control" ng-model="searchWord"
                           placeholder="Search">

                    <a href="#/login">
                        <button type="button" class="btn btn-raised btn-primary addButton" ng-click="logout()">Logout
                        </button>
                    </a>

                </div>
            </div>
        </div>

    </div>
</div>
<!--List of workers-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">

                <table class="table  table-striped" id="example" class="table table-striped table-bordered">

                    <thead>
                    <tr class="firstRow">
                        <th class="globalText">Username</th>
                        <th class="globalText">Name</th>
                        <th class="globalText">Patronymic</th>
                        <th class="globalText">Surname</th>
                        <th class="globalText">Post</th>
                        <th class="globalText">Gender</th>
                        <th class="globalText">Tel. number</th>
                        <th class="globalText">Time</th>
                        <th class="globalText">Time</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr class="globalText" ng-repeat="user in users | filter: searchWord">

                        <td>{{user.username}}</td>
                        <td>{{user.info.name}}</td>
                        <td>{{user.info.patronymic}}</td>
                        <td>{{user.info.surname}}</td>
                        <td>{{user.info.post}}</td>
                        <td>{{user.info.gender}}</td>
                        <td>{{user.info.phone}}</td>
                        <td>{{user.time.startWork}} - {{user.time.endWork}}</td>

                        <td>
                            <button type="button" class="btn btn-raised buttons btn-primary"
                                    ng-click="openTime(user.populate)">time management
                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <script type="text/ng-template" id="editTime.html">
                    <div class="modal-header">
                        <h3 class="modal-title globalText modalText" id="editmodal-title">time management</h3>
                    </div>
                    <div class="modal-body" id="editmodal-body">
                        <div class="panel panel-success">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form-horizontal" novalidate>
                                            <fieldset>

                                                <div class="col-md-6">
                                                    <div class="form-group"
                                                         ng-class="{ 'has-error': !time.startWork, 'has-success': time.startWork}">

                                                        <label class="col-md-4 control-label">Start of workday</label>

                                                        <div class="col-md-8">

                                                            <input type="text" class="form-control" size="8"
                                                                   ng-model="time.startWork" bs-timepicker
                                                                   data-time-format="HH:mm" data-time-type="string"
                                                                   data-length="1"
                                                                   data-minute-step="1" data-arrow-behavior="picker">

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group"
                                                         ng-class="{ 'has-error': !time.endWork, 'has-success': time.endWork}">

                                                        <label class="col-md-4 control-label">End of workday</label>

                                                        <div class="col-md-8 modalInput">

                                                            <input type="text" class="form-control" size="8"
                                                                   ng-model="time.endWork"
                                                                   bs-timepicker
                                                                   data-time-format="HH:mm" data-time-type="string"
                                                                   data-length="1"
                                                                   data-minute-step="15" data-arrow-behavior="picker">

                                                        </div>
                                                    </div>

                                                </div>


                                            </fieldset>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">

                        <button class="btn btn-primary" type="button" ng-click="ok(); saveTime()">OK</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>

                    </div>
                </script>

                <!--Pagination-->
                <div class="row">

                    <div class="col-md-6">
                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            ng-change="pageChanged()"></ul>
                    </div>

                    <!--Setting items per page-->
                    <div class="col-md-6 ">
                        <div class="setItems">
                            Show <select ng-init="viewby = '3'" ng-model="viewby" ng-change="setItemsPerPage(viewby)">
                            <option>3</option>
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>40</option>
                            <option>50</option>
                        </select>
                            records at a time.
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>