﻿<div class="container">
    <div class="top">
        <h1 class="hidden"><span>Daily <span>UI</span></span></h1>
    </div>
    <div class="login-box animated fadeInUp">
        <div class="box-header">
            <h2>User`s information</h2>
        </div>

        <label>Name</label>
        <br/>
        <input ng-model="worker.name" type="text">
        <br/>

        <label>Surname</label>
        <br/>
        <input ng-model="worker.surname" type="text">
        <br/>

        <label>Patronymic</label>
        <br/>
        <input ng-model="worker.patronymic" type="text">
        <br/>

        <label>Gender</label>
        <br/>
        <div class="row genderRow">
            <div class="col-md-4 userModalInput">
                <input type="radio" name="answer" value="female" ng-model="worker.gender"/>female
            </div>

            <div class="col-md-4 userModalInput">
                <input type="radio" name="answer" value="male" ng-model="worker.gender"/>male

            </div>
        </div>

        <label class=" control-label">Phone number</label>
        <div>
            <input class="userModalInput" type="text" ui-mask="+3(099) 999-99-99"
                   ng-model="worker.phone" model-view-value="true">
        </div>

        <div class="col-md-12 worktime">
        </div>

        <button ng-click="save(worker)" type="submit">Save</button>
        <a href="#/login">
            <button ng-click="logout()" type="submit">Log out</button>
        </a>
        <br/>
    </div>
</div>﻿﻿


